.colorPickerStyles {
    width: 50px;
    height: 32px;
    border-radius: 8px;
    border-style: solid;
    border-top-width: 0.4px;
    border-right-width: 0.4px;
    border-bottom-width: 0.4px;
    border-left-width: 0px;
    border-color: #8a8a8a;
}

.disabledColorPickerStyles {
    width: 50px;
    height: 32px;
    border-radius: 8px;
    border-style: solid;
    border-top-width: 0.4px;
    border-right-width: 0.4px;
    border-bottom-width: 0.4px;
    border-left-width: 0px;
    border-color: #f2f2f2;
    opacity: 0.5;
}